@font-face {
	font-family: 'base-font';
	src: url('./fonts/Manrope/static/Manrope-Regular.ttf') format('woff2');
}
@font-face {
	font-family: 'base-font-700';
	src: url('./fonts/Manrope/static/Manrope-Bold.ttf') format('woff2');
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
}

* {
	line-height: calc(1em + 0.5rem);
}

html,
body {
	height: 100%;
}

body {
	font-family: 'base-font';
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #040c18;
	color: #81afdd;
	width: 100vw;
	height: 100vh;

	display: grid;
	place-items: center;
	text-align: center;
	font-size: 1rem;
}

.App__title {
	font-size: clamp(2rem, 1rem + 3vw, 9rem);
	margin: 0 0 3rem 0;
}

.App__form-input-group > input {
	font-family: 'base-font';
	font-size: 1rem;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: 'base-font';
	font-size: 1rem;
	color: #3d6184;
}
::-moz-placeholder {
	/* Firefox 19+ */
	font-family: 'base-font';
	font-size: 1rem;
	color: #3d6184;
}
:-ms-input-placeholder {
	/* IE 10+ */
	font-family: 'base-font';
	font-size: 1rem;
	color: #3d6184;
}
:-moz-placeholder {
	/* Firefox 18- */
	font-family: 'base-font';
	font-size: 1rem;
	color: #3d6184;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

:focus {
	outline: none;
}

.App__form {
	width: min(90vw, 600px);
	display: flex;
	flex-direction: column;
}

.App__form > .App__form-input-group:first-child {
	margin: 0 0 1rem 0;
}
.App__form > .App__form-input-group:nth-child(2) {
	margin: 0 0 2rem 0;
}

.App__form-input-group > input {
	background: #052d56;
	color: #3d6184;
	border: none;
	box-shadow: none;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	padding: 1rem 1.125rem;
	width: 100%;
	transition: all 80ms ease-in-out;
}

.App__form-input-group > input:focus {
	outline: 3px solid rgb(255, 72, 32);
}

.App__form > button {
	font-family: 'base-font-700';
	font-size: 1.25rem;
	background: #ff4820;
	color: #ffffff;
	border: none;
	box-shadow: none;

	padding: 1rem 1.125rem;
	width: 100%;

	cursor: pointer;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.App__form > button {
	font-family: 'base-font-700';
	font-size: 1.25rem;
}

.App-srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}